* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter';
  box-sizing: border-box;
}

body {
  background: #fefefe;

}

header {
  width: 100%;
  height: 80px;
  background: #4c4a65;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.hamburger {
  display: none;

}

.navbar ul{
  display: flex;
}

.navbar ul li a {
 display: block;
 color: #fff;
 font-size: 14px;
 padding: 15px 5px;
 border-radius: 50%;
 transition: 0.2s;
 margin: 0 40px;
}

.navbar ul li a:hover {
  color: #00C59A;
}

.navbar ul li button {
  border-radius: 5px;
  padding: 10px 5px;
  background: #00C59A;
  color: #fff;
  width: 150px;
  height: 45px;
  margin-left: 100px;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .navbar {
    position: absolute;
    height: 450px;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
  }

  .navbar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
  }

  .navbar ul li a {
    margin-bottom: 23px;
  }
}