:root {
  --textColor: #4f4f4f;
  --activeColor: #00c59a;
  --grayText: #8a909a;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", "DM Sans";
  font-size: 12px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.hamburger {
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  color: var(--textColor);
  font-size: 14px;
  padding: 15px 5px;
  border-radius: 50%;
  transition: 0.2s;
  margin: 0 40px;
}

.navbar ul li a:hover {
  color: #00c59a;
  opacity: 0.3;
}

.active {
  color: var(--activeColor);
}

.navbar ul li button {
  border-radius: 5px;
  padding: 10px 5px;
  background: #00c59a;
  color: #fff;
  width: 150px;
  height: 45px;
  margin-left: 100px;
}

/* Home page */
.first-section {
  background: #f2f7f9;
  height: 800px;
}

.lead {
  display: block;
  padding: 166px 0 0 140px;
}

.lead-breef {
  margin-left: 20px;
}

.rectangle {
  position: absolute;
  margin-left: -18px;
  background: #d2345c;
  height: 15px;
  width: 15px;
}

.text {
  text-transform: uppercase;
}

.description {
  font-size: 52px;
  width: 500px;
  height: 16px;
}

.yellow-line {
  margin: -320px 0 0 140px;
  width: 260px;
  height: 10px;
  border-radius: 8px;
  background: #fedb59;
}

.small-text {
  margin-top: 180px;
  color: var(--grayText);
  width: 506px;
  height: 81px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.btn {
  font-size: 16px;
  line-height: 21px;
  margin-top: 40px;
  width: 248px;
  height: 60px;
  border-radius: 8px;
  background: var(--activeColor);
  color: #fff;
}

.btn-desc {
  opacity: 0.5;
  line-height: 21px;
  font-size: 16px;
}

.watch {
  color: var(--grayText);
  background: #f2f7f9;
  border-color: transparent;
  text-transform: capitalize;
  margin-left: 35px;
  font-size: 16px;
  line-height: 21px;
}

.player {
  padding-right: 7px;
  padding-top: 5px;
  width: 18px;
  height: 18px;
}

.person {
  width: 582px;
  height: 542px;
  margin-left: 750px;
  margin-top: -530px;
}

.red-caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d4335d;
  width: 210px;
  height: 40px;
  border-radius: 8px;
  margin: -200px 0 0 750px;
}

.red-caption__check {
  color: #fff;
  margin-right: 15px;
}

.red-caption__text {
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}

.yellow-caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fedb59;
  width: 210px;
  height: 40px;
  border-radius: 8px;
  margin: -400px 0 0 1225px;
}

.yellow-caption__check {
  color: #000;
  margin-right: 15px;
}

.yellow-caption__text {
  line-height: 21px;
  text-transform: capitalize;
  color: #151515;
}

.tagline {
  display: flex;
  margin-top: 60px;
}

.tagline-text {
  width: 302px;
  height: 58px;
  font-size: 26px;
  line-height: 110%;
  margin-left: 140px;
}

.tagline-logo {
  margin-left: 60px;
}

.tagline-logo__first {
  margin-left: 50px;
  margin-top: 10px;
}

.information {
  margin-top: 100px;
  margin-left: 160px;
}

.information-overview {
  display: inline;
}

.information-rectangle {
  position: absolute;
  margin-left: -18px;
  background: #d2345c;
  height: 15px;
  width: 15px;
}

.information-overview__text {
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.2em;
  margin-left: 20px;
}

.information-pros {
  display: block;
  margin-top: 10px;
}

.information-pros__text {
  width: 587px;
  height: 106px;
  font-size: 48px;
  line-height: 110%;
  color: #070707;
}

.information-pros-list__text {
  font-size: 18px;
  margin-top: 5px;
  color: var(--grayText);
  line-height: 250%;
}

.information-description {
  margin-top: 60px;
  font-size: 12px;
  line-height: 150%;
  width: 580px;
  height: 36px;
}

.statistic {
  width: 473px;
  height: 400px;
  margin: -350px 0 0 600px;
}

.wallet {
  position: absolute;
  width: 380px;
  height: 270px;
  left: 950px;
  top: 1350px;
}

.recent {
  position: absolute;
  width: 355px;
  height: 180px;
  top: 1110px;
  left: 1040px;
}

.close-element {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #d5335e;
  border-radius: 100px;
  left: 800px;
  top: 1140px;
}

.close {
  margin-top: 5px;
  margin-left: 5px;
  color: #fff;
}

.path-success {
  display: grid;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.path-success__rectangle {
  position: absolute;
  margin-left: 220px;
  background: #d2345c;
  height: 15px;
  width: 15px;
}

.path-success__small {
  margin-right: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #070707;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.path-success__text {
  width: 639px;
  height: 106px;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #070707;
}

.path-success__description {
  width: 450px;
  height: 54px;
  margin-left: 80px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: var(--grayText);
}

/* Media query */
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar {
    position: absolute;
    height: 550px;
    top: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.2s;
    overflow: hidden;
  }
  .navbar.active {
    height: 550px;
  }
  .navbar ul {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar.active ul {
    opacity: 1;
  }
  .navbar ul li a {
    margin-bottom: 23px;
  }
  .navbar ul li button {
    margin: 0 25px;
  }
}/*# sourceMappingURL=App.css.map */